.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  padding: 9px 16px 9px 16px;
  background-color: white;
  border: 2px solid black;
  transition: 0.2s;
}

button:hover {
  background-color: black;
  color: white;
}

button.dark {
  background-color: black;
  color: white;
  border-color: white;
}

button.dark:hover {
  background-color: white;
  color: black;
}

h1 {
  font-family: 'TradeGothic LT';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.05em;
}

h2 {
  font-family: 'TradeGothic LT';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 109%;
  letter-spacing: 0.05em;

}

h3 {
  font-family: 'Gothic A1', sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.095em;
  text-transform: uppercase;
  margin: 0;
}

ul a {
  padding: 8px;
  text-decoration: none;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: top;
  height:140px;
}

nav img {
  margin-top: -2%;
  max-height: 110%;
}

nav ul, footer ul {
  width: 70%;
  padding-right: 50px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  gap: 14px;
  list-style-type: none;
  text-decoration: none;
}

nav a {
  color: black;
}

main article {
  height: 600px;
  display: flex;
  position: relative;
  text-align: left;
  background-color: black;
  
}

main .overlay {
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
}

main article img {
  object-fit: cover;
  width: 100%;
  opacity: 0.65;
}

main h1 {
  margin-bottom: 20%;
}

main ol {
  display: flex;
  gap: 13px;
  flex-direction: column;
  padding: 0;
}

#restaurant-week {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7%;
  margin-bottom: 10%;
  gap: 30px;
}

#restaurant-week img {
  max-width: 60%;
  min-width: 30%;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: black;
  min-height: 150px;
  color: white;
}

footer a {
  color: white;
}

@media (max-width: 900px) {
  nav {
    height: 100px;
  }
}